*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #181818;
  font-family: sans-serif;
  scroll-behavior: smooth;
  min-width: 320px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.clearfix {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}

.circle {
  width: 7px;
  height: 7px;
  background: #ffffff;
  border-radius: 50px;
  display: inline-block;
}

::-moz-selection {
  background-color: #989898;
  color: #ffffff;
}

::selection {
  background-color: #989898;
  color: #ffffff;
}

.header {
  min-height: 100vh;
  background-color: rgba(93, 93, 93, 0.42);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__background {
  background-color: #5D5D5D;
  min-height: 95vh;
  width: 97vw;
  margin: 15px;
}

.header .container {
  min-height: 97vh;
}

.header .header__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 20px;
}

.header .header__top a.logo {
  z-index: 201;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E1E8EB;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.header .header__top a.logo .logo__text {
  margin-left: 8px;
}

.header .header__top a.logo .logo__text .small__text {
  font-size: 13px;
}

.header .header__top a.logo img {
  width: 50px;
}

.header .header__top a.logo:hover {
  color: #c2c2c2;
}

.header .header__top .header__top--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header__top .header__top--wrap ul.header__top--language__list {
  z-index: 201;
  font-size: 22px;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item {
  padding-top: 8px;
  position: relative;
  top: -10px;
  right: 10px;
  display: inline-block;
  font-size: 18px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item:hover .language__item--content {
  color: #a4a4a4b3;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item:hover .language__item--content span.triangle {
  top: -3px;
  border-top: 7px solid #a4a4a4b3;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item:hover ul.language__drop--list {
  top: 28px;
  opacity: 1;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item:hover ul.language__drop--list a:hover {
  color: #ffffff;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item .language__item--content {
  color: #E1E8EB;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item .language__item--content span.triangle {
  border: 7px solid transparent;
  border-top: 7px solid #E1E8EB;
  display: inline-block;
  position: relative;
  top: 6px;
  left: -1px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item ul.language__drop--list {
  position: absolute;
  top: -999px;
  left: 22px;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item ul.language__drop--list li {
  width: 200%;
  height: 30px;
  padding-top: 6px;
}

.header .header__top .header__top--wrap ul.header__top--language__list .language__item ul.language__drop--list a {
  color: #a8a8a8;
  padding-right: 50%;
  padding-bottom: 4px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.header .header__top nav.header__top--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header__top nav.header__top--menu .header__top--icon {
  z-index: 201;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.header .header__top nav.header__top--menu .header__top--icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 75%;
  background: #E1E8EB;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header .header__top nav.header__top--menu .header__top--icon span:nth-child(1) {
  top: 3px;
}

.header .header__top nav.header__top--menu .header__top--icon span:nth-child(2), .header .header__top nav.header__top--menu .header__top--icon span:nth-child(3) {
  top: 13px;
  background: #e1e8eb;
}

.header .header__top nav.header__top--menu .header__top--icon span:nth-child(4) {
  top: 23px;
}

.header .header__top nav.header__top--menu .header__top--icon:hover span {
  background: #b0b0b0;
}

.header .header__top nav.header__top--menu .header__top--menu__open.menu__close {
  display: none;
}

.header .header__top nav.header__top--menu .header__top--menu__open {
  z-index: 200;
  background-color: #1c0d05;
  background: linear-gradient(45deg, #130b07, rgba(21, 10, 4, 0.812)), url("../img/bg__menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .header__top nav.header__top--menu .header__top--menu__open .menu__open--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 550px;
}

.header .header__top nav.header__top--menu .header__top--menu__open .menu__open--list .h2 {
  color: #E1E8EB;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.header .header__top nav.header__top--menu .header__top--menu__open .menu__open--list li.menu__item {
  padding-bottom: 13px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.451);
  margin-bottom: 13px;
}

.header .header__top nav.header__top--menu .header__top--menu__open .menu__open--list li.menu__item:first-child a.menu__link {
  padding-left: 0px;
}

.header .header__top nav.header__top--menu .header__top--menu__open .menu__open--list li.menu__item:last-child a.menu__link {
  border-right: none;
  padding-right: 0px;
}

.header .header__top nav.header__top--menu .header__top--menu__open .menu__open--list li.menu__item a.menu__link {
  color: #E1E8EB;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header .header__top nav.header__top--menu .header__top--menu__open .menu__open--list li.menu__item a.menu__link:hover {
  color: #6b6b6b;
}

.header .products {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.header .products .flex__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .products .flex__products .flex__products--item {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .products .flex__products .flex__products--item .product__link {
  position: relative;
  width: 90%;
  color: #000000;
  background: #fff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 18px;
}

.header .products .flex__products .flex__products--item .product__link:hover .background__hover, .header .products .flex__products .flex__products--item .product__link:active .background__hover {
  opacity: 1;
}

.header .products .flex__products .flex__products--item .product__link .background__hover {
  width: 100%;
  height: 100%;
  background: #87888952;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 32;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header .products .flex__products .flex__products--item .product__link img {
  position: relative;
  z-index: 2;
  width: 220px;
}

.header .products .flex__products .flex__products--item .product__link img[src="img/menu pipes2.jpg"] {
  width: 135px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section:nth-child(even) {
  background-color: #5d5d5d9c;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .h2 {
  color: #fff;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

section .container img {
  width: 850px;
}

.footer {
  background: rgba(93, 93, 93, 0.42);
  overflow: hidden;
}

.footer .footer__top--info__list {
  padding-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.footer .footer__top--info__list .info__item {
  padding-top: 50px;
}

.footer .footer__top--info__list .info__item .title .h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 27px;
  margin-bottom: 10px;
}

.footer .footer__top--info__list .info__item .item__schedule .text,
.footer .footer__top--info__list .info__item .item__contacts .text,
.footer .footer__top--info__list .info__item .item__address .text {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 20px;
  margin-bottom: 5px;
}

.footer .footer__top--info__list .info__item .item__schedule .text a,
.footer .footer__top--info__list .info__item .item__contacts .text a,
.footer .footer__top--info__list .info__item .item__address .text a {
  color: #ffffff;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.footer .footer__top--info__list .info__item .item__schedule .text a:hover,
.footer .footer__top--info__list .info__item .item__contacts .text a:hover,
.footer .footer__top--info__list .info__item .item__address .text a:hover {
  color: #8b8989;
}

.footer .footer__top--info__list .info__item .item__schedule .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 270px;
}

.footer .footer__top--info__list .info__item .item__schedule .text .day {
  margin-right: 20px;
}

.footer .footer__top--info__list .info__item .item__contacts .fa-mobile {
  margin-right: 8px;
}

.footer .footer__top--info__list .info__item .item__contacts .text {
  margin-bottom: 10px;
}

.footer .footer__top--info__list .info__item .item__contacts .text .text__details .h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.footer .footer__top--info__list .info__item .item__contacts .text .text__details .details__code {
  margin-left: 20px;
}

.footer .footer__top--info__list .info__item .item__address .map__wrap {
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  width: 450px;
  height: 135px;
}

.footer .footer__top--info__list .info__item .item__address .map__wrap a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.footer .footer__top--info__list .info__item .item__address .map__wrap img {
  position: absolute;
  top: 0;
  left: 0;
}

.footer .footer__bottom--copyright {
  background: rgba(24, 24, 24, 0.329);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 1250px) {
  .container {
    width: 90%;
  }
}

/* header */
@media screen and (min-width: 0px) and (max-width: 850px) {
  .header .products .flex__products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header .products .flex__products .flex__products--item {
    width: 70%;
  }
  .header .products .flex__products .flex__products--item .product__link img {
    width: 99%;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .header .header__top {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .header__top a.logo {
    width: 155px;
  }
  .header .header__top a.logo .logo__text {
    margin-left: -6px;
  }
  .header .header__top a.logo .logo__text .small__text {
    font-size: 10px;
  }
  .header .header__top a.logo .logo__text .big__text {
    font-size: 15px;
  }
  .header .header__top a.logo img {
    width: 35px;
  }
  .header .products .flex__products .flex__products--item {
    width: 100%;
  }
}

/* sectionS */
@media screen and (min-width: 0px) and (max-width: 850px) {
  section .container img {
    width: 95%;
  }
  section .container .h2 {
    font-size: 20px;
  }
}

/* footer */
@media screen and (min-width: 600px) and (max-width: 1250px) {
  .footer .footer__top--info__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 0px) and (max-width: 615px) {
  .footer .footer__top--info__list {
    width: 275px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .footer .footer__top--info__list .info__item .item__schedule .text {
    font-size: 17px;
    width: 240px;
  }
  .footer .footer__top--info__list .info__item .item__address .text {
    font-size: 17px;
  }
  .footer .footer__top--info__list .info__item .item__address .map__wrap {
    width: 275px;
  }
  .footer .footer__top--info__list .info__item .item__address .map__wrap img {
    left: -85px;
  }
}
